body {
    background-image: url('img/fundo.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 18px; /* Tamanho da fonte padrão para telas maiores */
}

header {
    text-align: center;
    margin: 25px 0;
}

.nomes {
    color: #993366; /* Substitua pelo código de cor desejado */
    font-size: 3vw; /* Substitua pelo tamanho de fonte desejado */
    font-family: 'Arial', sans-serif; /* Substitua pela fonte desejada, se necessário */
    font-weight: bold; /* Substitua pelo peso da fonte desejado (por exemplo, bold, normal, etc.) */
    max-width: 100%; /* Impede que o texto ultrapasse a largura do contêiner pai */
    text-align: center; /* Centraliza o texto */
    margin: 0 auto; /* Centraliza o contêiner na tela */

    @media (max-width: 600px) {
        font-size: 9vw; /* Ajusta o tamanho da fonte para dispositivos móveis */
    }
}

.details {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0.5px;
}

.details h1, .details h2 {
    margin-bottom: 8px;
}

.footer {
    text-align: center;
    margin-top: 30px;
}

.whatsapp-link img {
    width: 40px;
    height: 40px;
    margin-bottom: 25px;
}

/* Adicione regras de mídia queries para ajustar o layout em diferentes tamanhos de tela */

@media only screen and (max-width: 600px) {
    /* Adicione suas regras de estilo para telas menores que 600px (dispositivos móveis) */
    body {
        font-size: 16px;
    }

    .details {
        padding: 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adicione suas regras de estilo para telas entre 601px e 1024px */
    body {
        font-size: 18px;
    }

    .details {
        padding: 15px;
    }
}

/* Adicione mais regras de mídia queries conforme necessário para outros tamanhos de tela */
