body {
    background-image: url('img/fundo.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 18px; /* Tamanho da fonte padrão para telas maiores */
}

header {
    text-align: center;
    margin: 20px 0;
}

.nomes {
    color: #a12349; /* Substitua pelo código de cor desejado */
    font-size: 3vw; /* Substitua pelo tamanho de fonte desejado */
    font-family: 'Arial', sans-serif; /* Substitua pela fonte desejada, se necessário */
    font-weight: bold; /* Substitua pelo peso da fonte desejado (por exemplo, bold, normal, etc.) */
}

.details {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.details h1, .details h2 {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.whatsapp-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.whatsapp-link {
    text-decoration: none;
    color: #000000; /* ou color: rgb(0, 0, 0); */
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatsapp-link:hover {
    background-color: rgba(255, 196, 196, 0.8);
}

.whatsapp-link img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

/* Adicione regras de mídia queries para ajustar o layout em diferentes tamanhos de tela */

@media only screen and (max-width: 600px) {
    /* Adicione suas regras de estilo para telas menores que 600px (dispositivos móveis) */
    body {
        font-size: 16px;
    }

    .details {
        padding: 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adicione suas regras de estilo para telas entre 601px e 1024px */
    body {
        font-size: 18px;
    }

    .details {
        padding: 15px;
    }
}

/* Adicione mais regras de mídia queries conforme necessário para outros tamanhos de tela */
